html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Cinzel";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

#map {
  height: 60vh;
}

h1 {
  text-align: center;
}
